header img {
    height: 80vh;
}
body {
    background: url('https://cdn.pixabay.com/photo/2017/08/06/20/11/wedding-2595862_640.jpg') no-repeat;
    height: 40vh;
    background-size: cover;
    width:100vw;
    font-family: sans-serif;
    margin-top: 0px;
    padding: 10px;
   
}
nav{
        color: rgb(205, 205, 205);
}
